<p>Destino</p>

<form action="@Url.Action("Index","Home")" method="get">
    <input type="text" name="destinoBuscado" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>

    <h2>Resultados de busqueda para "@ViewBag.DestinoBuscado"</h2>

    @if (ViewBag.Resultados != null)
    {
        <ul>
            @foreach (var resultado in ViewBag.Resultados)
            {
                <li>
                    @resultado
                </li>
            }
        </ul>
    }
    else
    {
        <p>No hay resultados disponibles.</p>
    }

