<head>
	<title>Barra de búsqueda con autocompletado</title>
</head>
<body>
	<div class="container" style="margin: 150px auto 50px;">
		<div class="search-input-box">
			<input type="text" placeholder="¿Qué quieres buscar?" />
			<a href="#" target="_blank" class="search-box-href" onclick="createCards(this)">
				<i class="fa-solid fa-magnifying-glass icon"> </i>
			</a>
			<ul class="container-suggestions">
			</ul>
		</div>
	</div>
	<div class="row" id="destinosContainer">
		<!-- Aquí se agregarán dinámicamente las cards -->
			</div>
		</div>
	</div>

	<script src="~/js/main.js"></script>
</body>
